---
import { getCollection, getEntry } from 'astro:content'
import type { CollectionEntry } from 'astro:content'
import { Image, getImage } from 'astro:assets'
import Header from '../../components/Header.astro'
import Layout from '../../layouts/Layout.astro'
import Heading from '../../components/UI/Heading.astro'
import Breadcrumb from '../../components/UI/Breadcrumb.astro'

export async function getStaticPaths() {
  const categories = await getCollection('categories')
  return categories.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry }
  }))
}

interface Props {
  entry: CollectionEntry<'categories'>
}

const { entry } = Astro.props
const { slug } = Astro.params

const allWatchs = await getCollection('product', ({ data }) => {
  return data.categories.find((e) => e.slug === slug)
})
---

<Layout title={entry.data.name || 'CPDM'}>
  <Header />
  <main class='max-w-7xl mx-auto' transition:animate='slide'>
    <div class='flex w-full justify-center'>
      <Breadcrumb>{entry.data.name}</Breadcrumb>
    </div>

    <article
      class='col-span-4 lg:col-span-2 2xl:col-span-1 h-[400px] flex rounded-xl relative'
    >
      <Image
        class='object-cover object-center w-full h-full rounded-xl'
        alt={`${slug}-img`}
        src={entry.data.hero}
        width={1920}
      />
      <div
        class='bg-gradient-to-b from-expresso-500 via-transparent to-expresso-500 bg-blend-multiply w-full h-full absolute'
      >
        <div
          class='bg-gradient-to-r from-expresso-500 via-transparent to-expresso-500 bg-blend-multiply w-full h-full justify-center items-center flex flex-col gap-y-4'
        >
          <Heading size='h2' classes='text-white'>
            {entry.data.name}
          </Heading>
        </div>
      </div>
    </article>
    <section class='w-full grid grid-cols-4 gap-4 p-4'>
      {
        allWatchs.map((watch) => (
          <div class='relative w-full h-[30vh] flex col-span-4 lg:col-span-2 2xl:col-span-1'>
            <Image
              class='object-cover object-center w-full h-full rounded-xl '
              alt={`${watch.slug}-img`}
              src={watch.data.photo[0]}
              width={1000}
            />
          </div>
        ))
      }
    </section>
  </main>
</Layout>
