---
import { getCollection, getEntry } from 'astro:content'
import type { CollectionEntry } from 'astro:content'
import { Image, getImage } from 'astro:assets'
import Header from '../components/Header.astro'
import Layout from '../layouts/Layout.astro'
import Heading from '../components/UI/Heading.astro'
import Breadcrumb from '../components/UI/Breadcrumb.astro'
import { convertNumberToEur } from '../helpers/convertCurrencyToEuro'
import Divider from '../components/UI/Divider.astro'

export async function getStaticPaths() {
  const categories = await getCollection('categories')
  return categories.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry }
  }))
}

interface Props {
  entry: CollectionEntry<'categories'>
}

const { entry } = Astro.props
const { slug } = Astro.params

const temp = await getCollection('product', ({ data }) => {
  return data.categories.slug === slug
})
const products = [...temp, ...temp, ...temp]
---

<Layout title={entry.data.name || 'CPDM'}>
  <Header />
  <main class='max-w-7xl mx-auto' transition:animate='slide'>
    <div class='flex w-full justify-center'>
      <Breadcrumb path={[entry.slug]} />
    </div>

    <article
      class='col-span-4 lg:col-span-2 2xl:col-span-1 h-[400px] flex rounded-xl relative'
    >
      <Image
        class='object-cover object-center w-full h-full rounded-xl'
        alt={`${slug}-img`}
        src={entry.data.hero}
        width={1920}
      />
      <div
        class='bg-gradient-to-b from-expresso-500 via-transparent to-expresso-500 bg-blend-multiply w-full h-full absolute'
      >
        <div
          class='bg-gradient-to-r from-expresso-500 via-transparent to-expresso-500 bg-blend-multiply w-full h-full justify-center items-center flex flex-col gap-y-4'
        >
          <Heading size='h2' classes='text-white'>
            {entry.data.name}
          </Heading>
        </div>
      </div>
    </article>
    <section
      class='w-full grid grid-cols-4 gap-4 p-4 bg-gradient-to-b from-expresso-500 via-expresso-400 to-expresso-500'
    >
      {
        products.map((product) => (
          <a
            class='relative w-full flex col-span-4 sm:col-span-2 xl:col-span-1 flex-col rounded-2xl hover:opacity-80 transition-opacity '
            href={product.slug}
          >
            <Image
              class='object-cover object-center w-full rounded-xl h-[30vh]'
              alt={`${product.slug}-img`}
              src={product.data.thumbnail}
              width={1000}
            />
            <div>
              <Divider />
            </div>
            <div class='pt-2 pl-1 text-white h-[10vh] overflow-hidden flex flex-col '>
              <Heading
                size={'h4'}
                classes='whitespace-nowrap text-ellipsis overflow-hidden'
              >
                {product.data.name}
              </Heading>
              <p class='text-xl sm:text-2xl md:text-4xl '>
                From {convertNumberToEur(product.data.price)}
              </p>
            </div>
          </a>
        ))
      }
    </section>
  </main>
</Layout>
