---
import type { CollectionEntry } from 'astro:content'
import Heading from './UI/Heading.astro'
import Link from './UI/Link.astro'
import { convertNumberToEur } from '../helpers/convertCurrencyToEuro'
import { Image } from 'astro:assets'
interface Props {
  accessory: CollectionEntry<'accessories'>
}

const { accessory } = Astro.props
const { brand, name, photo, price } = accessory.data
---

<!-- <Link
    style={'ghost'}
    href={name}
    classes='grid sm:grid-cols-2 place-items-center sm:justify-between border rounded-2xl p-5'
  > -->
<article>
  <Link
    classes='grid sm:grid-cols-2 place-items-center sm:justify-between border rounded-2xl p-5'
    href='#'
  >
    <div
      class='max-w-sm text-center sm:text-left grid gap-2 sm:gap-4 content-center place-items-center sm:place-items-start order-1 sm:order-none'
    >
      <Heading size={'h3'}>
        {name}
      </Heading>
      <p class='text-xl sm:text-2xl md:text-4xl'>
        From {convertNumberToEur(price)}
      </p>
      <div
        class='font-normal ring-offset-2 focus-visible:ring-4 ring-pine-accent transition-all focus:outline-transparent hover:scale-105 rounded-full border-2 border-pine-text aspect-square w-[70px] h-[70px] grid place-items-center p-2 text-center font-sans leading-tight'
      >
        Buy Now
      </div>
    </div>
    <Image
      src={photo[0]}
      height={540}
      width={550}
      alt={`alt-photo-${name}`}
      class={'rounded-full'}
    />
  </Link>
</article>
