---
//Unused
import type { CollectionEntry } from 'astro:content'
import Heading from './UI/Heading.astro'
import Link from './UI/Link.astro'
import { convertNumberToEur } from '../helpers/convertCurrencyToEuro'
import { Image } from 'astro:assets'
interface Props {
  accessory: CollectionEntry<'product'>
  sharedAnimationString?: string
}

const { accessory, sharedAnimationString } = Astro.props
const { brand, name, photo, price } = accessory.data
---

<article transition:name={sharedAnimationString}>
  <Link
    classes='grid sm:grid-cols-2 place-items-center sm:justify-between border rounded-2xl m-5 hover:m-0 transition-all duration-300 p-2'
    href={accessory.slug}
  >
    <div
      class='max-w-sm text-center sm:text-left grid gap-2 sm:gap-4 content-center place-items-center sm:place-items-start order-1 sm:order-none'
    >
      <Heading size={'h3'} transition:name={name.replace(/\W/g, '')}>
        {name}
      </Heading>
      <p class='text-xl sm:text-2xl md:text-4xl'>
        From {convertNumberToEur(price)}
      </p>
      <div
        class='font-normal ring-offset-2 focus-visible:ring-4 ring-pine-accent transition-all focus:outline-transparent hover:scale-105 rounded-full border-2 border-pine-text aspect-square w-[70px] h-[70px] grid place-items-center p-2 text-center font-sans leading-tight'
      >
        Buy Now
      </div>
    </div>
    <Image
      src={photo[0]}
      height={540}
      width={550}
      alt={`alt-photo-${name}`}
      class={'rounded-full'}
      transition:name={photo[0].src.replace(/\W/g, '')}
    />
  </Link>
</article>
