---
//Maybe Rework Dynamic to do depending on the amount of cards.
import { getCollection } from 'astro:content'
import Heading from './Heading.astro'
import { Image, getImage } from 'astro:assets'

const categories = await getCollection('categories')
---

<section class='grid grid-cols-4 gap-4 max-w-7xl mx-auto'>
  <article
    class='col-span-4 lg:col-span-2 2xl:col-span-1 h-[400px] flex rounded-xl relative'
  >
    <Image
      class='object-cover object-center w-full h-full rounded-xl'
      alt={'sheesh'}
      transition:persist={(categories[0].slug! + 'hero_transition').replace(
        /\W/g,
        ''
      )}
      src={categories[0].data.hero}
    />
    <a
      href={categories[0].collection + '/' + categories[0].slug}
      class='flex absolute bottom-0 left-0'
    >
      <div class='m-4 hover:p-2 transition-all'>
        <Heading size='h3' classes='text-white'>
          {categories[0].data.name}
        </Heading>
        <span class='text-white text-sm'>See products &#62;</span>
      </div>
    </a>
  </article>

  <article
    class='col-span-4 lg:col-span-2 2xl:col-span-1 h-[400px] flex rounded-xl relative'
  >
    <Image
      class='object-cover object-center w-full h-full rounded-xl'
      alt={'sheesh'}
      transition:persist={(categories[2].slug! + 'hero_transition').replace(
        /\W/g,
        ''
      )}
      src={categories[2].data.hero}
    />
    <a
      href={categories[2].collection + '/' + categories[2].slug}
      class='flex absolute bottom-0 left-0'
    >
      <div class='m-4 hover:p-2 transition-all'>
        <Heading size='h3' classes='text-white'>
          {categories[2].data.name}
        </Heading>
        <span class='text-white text-sm'>See products &#62;</span>
      </div>
    </a>
  </article>
  <article
    class='col-span-4 lg:col-span-2 2xl:col-span-1 h-[400px] flex rounded-xl relative'
  >
    <Image
      class='object-cover object-center w-full h-full rounded-xl'
      alt={'sheesh'}
      transition:persist={(categories[1].slug! + 'hero_transition').replace(
        /\W/g,
        ''
      )}
      src={categories[1].data.hero}
    />
    <a
      href={categories[1].collection + '/' + categories[1].slug}
      class='flex absolute bottom-0 left-0'
    >
      <div class='m-4 hover:p-2 transition-all'>
        <Heading size='h3' classes='text-white'>
          {categories[1].data.name}
        </Heading>
        <span class='text-white text-sm'>See products &#62;</span>
      </div>
    </a>
  </article>
</section>
